<!doctype html>
<html>
	<head>
		<title>Flask Demo</title>
		<meta name="description" content="Just a simple Flask webapp">
		<meta name="author" content="Sejin Kim">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<h1>Flask Demo</h1>
			<p>This is just a simple Flask demonstration.</p>
			<p>This particular demo doesn't use <i>any</i> JavaScript to send its information to the Python script. It's just HTML, Python, and CSS.</p>
			<p>There is a tiny bit of JavaScript, but its only purpose is to hide a div, and show it after you click the Submit button.</p>
		</div>
		<div class="container">
			<p>To try this demo, fill out the form below, then click the Submit button.</p>
		</div>
		<div class="customform">
			<form method="post" name="sampleform" enctype="multipart/form-data">
				<div class="form-group">
					<label for="name">Name: </label><br>
					<input type="text" id="name" name="name" placeholder="Luke Skywalker" value="">
				</div>
				<div class="form-group">
					<label for="alignment">Alignment: </label><br>
					<select id="alignment" name="alignment">
						<option value="" disabled selected>Select one...</option>
						<option value="rebel">Rebel Alliance</option>
						<option value="empire">Galactic Empire</option>
						<option value="other">Other Alignment</option>
					</select>
				</div>
				<button type="submit" class="btn btn_kenyon">Submit</button>
			</form>
		</div>
		<div class="container" id="answerdiv">
			<p>Here's what Python did to your answers:</p>
			<p>Your name: {{ processed_name }}</p>
			<p>Your alignment: {{ processed_align }}</p>
		</div>
	</body>
</html>
